<link rel="stylesheet" href="/stylesheets/formStyle.css" />
<h1>Change Password</h1>

<form method="POST" action="/change-password">
    <div class="form-group">
        <label>Old Password:</label>
        <input class="form-control" name="oldPassword" type="password" value="{{formData.oldPassword}}">
        {{#if errors.oldPassword}}
            <p class="error">Error: {{errors.oldPassword}}</p>
        {{/if}}
    </div>

    <div class="form-group">
        <label>New Password:</label>
        <input class="form-control" name="newPassword" type="password" value="{{formData.newPassword}}">
        {{#if errors.newPassword}}
            <p class="error">Error: {{errors.newPassword}}</p>
        {{/if}}
    </div>

    <div class="form-group">
        <label>Confirm New Password:</label>
        <input class="form-control" name="confirmPassword" type="password" value="{{formData.confirmPassword}}">
        {{#if errors.confirmPassword}}
            <p class="error">Error: {{errors.confirmPassword}}</p>
        {{/if}}
    </div>

    <input class="btn btn-primary" type="submit" value="Change Password" />
</form>
